<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/000000/drugstore.png" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Anotações básicas em <%= title %></p>
    <form action='/<%= note.id %>/edit' method='POST'>
      <input class="input-text" type="text" name='inputTitulo' placeholder="Digite o título da anotação" value="<%= note.title %>" autofocus>
      <input class="input-text" type="text" name='inputConteudo' placeholder="Digite o número da anotação" value="<%= note.content %>" >
      <button type='submit'> Salvar </button>
    </form>
    <a href='/<%= note.id %>'><button type='button'> Cancelar </button></a>
</html>